@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

html,
body {
	height: 100%;
}


main{
	font-family: 'Reddit Mono', monospace;
	color: #dddddd;
	/* background-color: orange;
	background: linear-gradient(200deg,#1c002d 0%,  #370058 45%,#831100 80%,#db6300 95%);
	background-size: 180% 180%;
	animation: gradient-animation 6.5s ease infinite; */
}

@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

	@import url('https://unpkg.com/normalize.css') layer(normalize);
/* @import 'normalize.css' layer(normalize); */

@layer normalize, base, demo, debug;


.text_animated_container{
	width: 50%;
	min-height: 200px;

@layer debug {
	[data-debug='true'] .text_animated p:not(:nth-of-type(2)) {
		opacity: 0.1;
	}

}

@layer demo {
	:root {
		--duration: 0.25;
	}



	.text_animated {
		display: inline-flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;


	}
	.location_icon{
		filter:invert(1);
		margin-right: 5px;
	}

	.text_animated p {
		font-weight: 300;
		color: inherit;
		text-decoration: none;
		transition: opacity 0.2s;

		span{
			max-height: 1.6rem;
			overflow-y: hidden;
	line-height: 1.5rem;
		font-size: 1.4rem;
			@media only screen and (max-width: 767px) {
			line-height: 1.1rem;
		font-size: 1rem;
		}
		}

	}

}


@layer base {
	:root {
		--font-size-min: 16;
		--font-size-max: 20;
		--font-ratio-min: 1.2;
		--font-ratio-max: 1.33;
		--font-width-min: 375;
		--font-width-max: 1500;
	}

	html {
		color-scheme: light dark;
	}

	[data-theme='light'] {
		color-scheme: light only;
	}

	[data-theme='dark'] {
		color-scheme: dark only;
	}

	:where(.fluid) {
		--fluid-min: calc(
			var(--font-size-min) * pow(var(--font-ratio-min), var(--font-level, 0))
		);
		--fluid-max: calc(
			var(--font-size-max) * pow(var(--font-ratio-max), var(--font-level, 0))
		);
		--fluid-preferred: calc(
			(var(--fluid-max) - var(--fluid-min)) /
				(var(--font-width-max) - var(--font-width-min))
		);
		--fluid-type: clamp(
			(var(--fluid-min) / 16) * 1rem,
			((var(--fluid-min) / 16) * 1rem) -
				(((var(--fluid-preferred) * var(--font-width-min)) / 16) * 1rem) +
				(var(--fluid-preferred) * var(--variable-unit, 100vi)),
			(var(--fluid-max) / 16) * 1rem
		);
		font-size: var(--fluid-type);
	}

	*,
	*:after,
	*:before {
		box-sizing: border-box;
	}


	/* Utilities */
	.sr-only {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		white-space: nowrap;
		border-width: 0;
	}
}

@media only screen and (max-width: 767px) {
	width: 100%;
	padding-inline: 20px;
}

}

.draw_stack_icons{
	width:35%;
	.stack_icon{

		display: flex;
		gap: 1%;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
		@media only screen and (max-width: 767px) {
			margin-top: 20px;
		}
	}
	svg{
		width: 20%;
		margin-bottom: 5%;
		@media only screen and (max-width: 767px) {
			width: 25%;
			padding-inline: 20px;
		}
	}
	.a{fill:none;stroke:#dddddd;stroke-linecap:round;stroke-linejoin:round;}

	@media only screen and (max-width: 767px) {
	width: 100%;
}
}

.second_stage{
	position: absolute;
	top:90vh
}

.third_stage{
	position: absolute;
	/* top:175vh; */
	top:150vh;
}

.fourth_stage{
	position: absolute;
	top:260vh;
	padding: 0 !important;
}

.last_stage{
	position: absolute;
	top:350vh
}

.experience{
	width: 100%;
	justify-content:space-around;
	display: flex;
	padding: 50px 0;
	height: 100vh;
	align-items: center;

		@media only screen and (max-width: 980px) {
			flex-direction: column;
			gap:40px;
		}
}

.content_third_section {
    width: 100%;
	overflow: visible;
}

.content_third_section .container {
    width: 100%;
    max-width: 100%;
}

.card{
	height: 460px;
	width: 46%;
	padding: 20px;
	padding-top: 0;
	position: relative;
	border-radius: 10px;
	transition: all ease 0.5s;
	font-size: 12px;
	transform-style: preserve-3d;
	perspective: 1000px;
	background-color: #101010;
		@media only screen and (max-width: 980px) {
		width: 90%;
		}
}

.card::after {
	position: absolute;
	content: '';
	background: linear-gradient(
		45deg,
		#24D1D3 0%,
		#4361ee 25%,
		#322566 50%,
		#9f0057 75%,
		#4fdc4a 100%
	)
		repeat 0% 0% / 300% 100%;
	inset: -3px;
	animation: rgb 8s linear infinite;
	border-radius: 5px;
	filter: blur(8px);
	z-index: -1;
	transform: translateZ(-1px);
}

.card:nth-child(2)::after {
	animation-delay: 2s;
}

.card:nth-child(3)::after {
	animation-delay: 4s;
}



@keyframes rgb {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h3,h4,p{
	transition: all ease 0.3s;
	text-shadow: #000000 0 0 5px;
	/* &:hover{
transform: translateZ(30px);
	} */

}

	/* .card:hover{
		background-position: 80% ;
		transform: rotate3d(0.5, 0.5, 0, 25deg);
} */

.card1{
	font-size: 20px;
	text-shadow: black 2px 2px 2px 5px;
	transition: all 0.5s ease;
	margin-bottom: 15px;
		@media only screen and (min-width: 768px) and (max-width: 1199px) {
		font-size: 18px;
		white-space: pre;
		}
}



*::before,
*::after {
	font-size: inherit;
	font-family: inherit;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.tabsContainer{
	overflow: auto;
}
	.tabsContainer .tabsBox {
		display: flex;
		width: 100%;
		position: relative;
		isolation: isolate;
		overflow-x: hidden;
	}

	.tabsContainer .tabsBox button {
		border: none;
		outline: none;
		padding:1rem 0.5rem;
		flex-grow: 1;
		font-size: clamp(0.9rem, 1.2vw, 1.1rem);
		font-weight: bold;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0.5rem;
		cursor: pointer;

	}

	.tabsContainer .tabsBox button>* {
		z-index: 1;
	}

	.tabsContainer .tabsBox .indicator {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		border-color: #4361ee;
		border-bottom-width: 2px;
	}

	.tabsContentContainer {
		display: flex;
		overflow: hidden;
			min-height: 400px;
			max-height: 400px;
			@media only screen and (min-width: 768px) and (max-width: 1199px) {
				max-height: 100%;
				min-height: 100%;
			}
	}

	.tabsContentContainer .contentBox {
		flex-shrink: 0;
		width: 100%;
		padding:1rem;
			display: flex;
			flex-direction: column;
			min-height: 100%;
			max-height: 100%;

		ul{
			list-style: inside;
		}
			@media only screen and (max-width: 1199px) {
				max-height: 380px;
				overflow: auto;
			}
			@media only screen and (max-width: 767px) {
				padding-inline:0;
			}


	}
.icons_filler{
	margin-top: auto;
	margin-bottom: 0;
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
		@media only screen and (max-width: 767px) {
		flex-wrap: wrap;
		gap: 14%;
		justify-content: start;
	}
}
	.image_exp{
		transition: all 0.3s ease-in-out 0.1s;
		filter: invert(1) drop-shadow(2px 4px 10px black);
		&:hover{
			animation: bouncing 0.5s .3s;

		}
			@media only screen and (min-width: 768px) and (max-width: 1199px) {
		width: 40px;
		height: 40px;
	}
		@media only screen and (max-width: 767px) {
		margin-bottom: 5%;

	}

		}

	@keyframes bouncing {
	from, to { transform: scale(1, 1); }
	25% { transform: scale(0.9, 1.1); }
	50% { transform: scale(1.1, 0.9); }
	75% { transform: scale(0.95, 1.05); }
}


/* Estilos para el Carrusel */
.container {
  

  /* //opacity: 0; */
  text-align: center;
  color: #fff;
  font-family: sans-serif;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.swiper_container {
  /* height: 725px; */
  position: relative;
  width: 100%;
}

.swipper{
	  overflow: unset  !important;
}

@media only screen and (max-width: 1024px) {
	.swiper {
		height: 65vh;
	}
	.content_third_section .container {
    justify-content: flex-start;
}

}
.swiper-slide {
  width: 100px;
  height: 100px; /* Hacemos los slides cuadrados */
  aspect-ratio: 1;
  position: relative;
  opacity: 0.7;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform-origin: center center;
  overflow: unset  !important;
}

.swiper-slide-active {
  opacity: 1 !important;

  z-index: 1;
}



/* Para garantizar la misma altura en todos los slides */
.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
	
    scale: 0.95;

}

.swiper-slide .slide-content {
	font-family: 'Reddit Mono', monospace;
  background-color: #101010; 
  border-radius: 5px;
  display: flex;
  padding:5%;
  align-items: start;
  flex-direction: column;
  font-size: 1rem;
  height:100%;
  width: 100%;
  margin: auto;
  border-radius: 10px;
  /* border: 1px solid #dcc562; */
  transition: background-color .15s ease-in-out;
  position: relative;
  /* overflow: hidden; */
  /* &:hover{
    background-color: #aa7f2c;
  } */


}

.swiper-slide .number_card{
  font-size: 0.75rem;
  line-height: 1rem;
  font-style: italic;
  margin-bottom: 2.5%;
}
.swiper-slide-active .swan_card{
transition: filter .15s ease-in-out;
}

.swiper-slide-active p{
transition: color .15s ease-in-out;
text-align: left;
}

.swiper-slide .slide-image {
    height: 54%;
    object-fit: cover;
    width: 100%;
}

.swiper-slide .slide-content:hover .swan_card{
    filter: brightness(0);
}
.swiper-slide .slide-content:hover p{
    color: #fff;
}
.slide-content {
  p{
    font-size: 1rem;
    font-weight: 500;
	text-align: left;
  }
}

.swiper-slide-active .slide-content{
 background-color: #101010; 
}

.swiper-slide-active .swan_card{
 filter: brightness(0);
}

.swiper-slide-active p{
 color: #fff;
}

.swiper-slide h5{
 font-size: 1.5rem;
 margin: 0.5rem 0;
}

.swiper-slide a{
   margin-top: auto;
   margin-bottom: 0;
}
.swiper-slide .howwasmade{
	line-height: 1.1rem;
	font-size: 1rem;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}

@media only screen and (min-width: 2250px) {
	.swiper-slide h5{
		font-size: 2.5rem;
		margin: 0.5rem 0;
	}

	.swiper-slide .howwasmade{
		font-size: 1.75rem;
		line-height: 2.1rem;
	}

	.swiper-slide .number_card{
		font-size: 1.55rem;
		line-height: 1.85rem;
	}

	.swiper-slide a{
font-size: 1.7rem;
	}
}

.mobile-experience {
    display: none;
}

@media (max-width:1024px) {
    .desktop-experience {
        display: none;
    }
    .mobile-experience {
        display: block;
    }

	.swiper-slide a{
		font-size: 1.4rem;
	}
	.swiper-slide h5{
	font-size: 1.35rem;
	margin: 0.5rem 0;
	white-space: pre;
	}

	.swiper-slide .number_card{
		font-size: 1rem;
		line-height: 1.25rem;
	}

	.swiper-slide .howwasmade{
		line-height: 1.4rem;
		font-size: 1rem;
	}
}

/* Estilos para el contenedor del loader */
.loader-ui {
  /* Apariencia inicial */
  background-color: #111; /* Un fondo oscuro */
  color: white;
  font-size: 1.25rem;

  /* Estado inicial para la transición */
  opacity: 1;
  
  /* Definición de la transición */
  transition: opacity 0.5s ease-out;
}

/* Clase que se añade para activar la animación de salida */
.loader-ui.fade-out {
  /* Estado final de la animación */
  opacity: 0;
}

.loader-text {
  margin: 0;
}